@charset "utf-8";

*{
    margin: 0px;
    padding:0px;
}
/*页脚样式*/
#footer{
    width:900px;
    height:60px;
    font-size:14px;
    clear:both;
    margin-top:0px;
    border-top:1px solid black;
    background-color: white;
    opacity:0.9;
}
#footer p{
    text-align:center;
    padding-top:10px;
    color:black;
}

#footer p a{
    color:black;
    text-decoration: none;
}