/*头部背景图*/
#headerImage {
    height: 200px;
    background-image: url("../../images/newBack2.jpg");
    background-size: cover;
}

/*导航栏列表*/
.nav-list li {
    margin-left: 30px;
}

.headerGlyphicon {
    color: white;
}

#footer {
    margin-top: 50px;
}

/*---------------PhotoView--------------*/

/*照片框样式*/
.photoDIV {
    max-width: 400px;
    max-height: 300px;
    margin: 10px;
    padding: 0px;
    cursor: pointer;
    text-align: center;
}

.photoDIV:hover .floatPanel {
    display: block;
}

/*照片预览窗样式*/
#photoView {

}

/*修改照片预览框的宽,高度自适应*/
#modal-dialog {
}

/*返回图标*/
.returnImg {
    font-size: 18px;
    cursor: pointer;
    float: left;
}

/*上传照片图标*/
.addPhoto {
    float: right;
    cursor: pointer;
    font-size: 18px;
}

h3 {
    text-align: center;
    font-size: 18px;
}

/*蒙板样式*/
.floatPanel {
    position: absolute;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    display: none;
}

.Uptime {
    font-size: 30px;
    color: white;
    /*透明蒙板层*/
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    margin-top: 180px;
    width: 400px;
}

.remove {
    padding: 10px;
    float: right;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

/*-----------------------------classAlbum-----------------------------------------*/

/*相册浮动菜单*/
.albumMenu {
    display: none;
    z-index: 2;
    position: absolute;
    width: 100%;
    right: 0px;
    color: white;
    /*透明蒙板层*/
    background-color:rgba(0,0,0,0.5);
}

.albumMenu button {
    padding: 0px;
    width: 30px;
    height: 20px;
}

/*单个相册外层容器*/
.albumDIV {
    margin-top: 20px;
    margin-left: 15px;
    padding: 0px;
    box-shadow: 1px 1px 2px #979797;
}

/*鼠标移入相册容器时显示浮动菜单*/
.albumDIV:hover .albumMenu {
    display: block;
}

.floatMenu {
    color: #1b6d85;
    cursor: pointer;
    font-size: 25px;
    color: white;
}