
.jumbotronDyTools {
    padding: 20px;
    margin: 0px;
}

#AlbumTips {
    color: #969696;
    font-size: 15px;
    width: 350px;
    margin-left: 20px;
}

.submit {
    min-width: 120px;
    margin-top: -20px;
    display: inline;
}

#selectFile {
    background-color: transparent;
    border-top: 0.3px solid #d6d6d6;
    border: none;
}

/*用户名*/

/*文本截断*/
.ellipsisText {
    display: block; /*以块级元素显示*/
    overflow: hidden; /*超出的隐藏*/
    white-space: nowrap; /*禁止换行*/
    text-overflow: ellipsis; /*超过宽度用....表示*/
    text-overflow: ellipsis; /* IE/Safari */
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera */
}